* {
    margin: 0; 
    padding: 0;
    
}

.titulo {
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

/*estilos de materialize*/
